/* Write your global styles here, in PostCSS syntax */
@import url('https://api.fontshare.com/v2/css?f[]=sharpie@700,400,900,800,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

@import 'prism-themes/themes/prism-material-oceanic.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    @apply bg-gray-900 text-white
}